<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- <%= stylesheet_link_tag "style" %>-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('chatbot.svg') %>
    <!--link rel="stylesheet" href="./css/styles.css" /-->
    <title>Superchat</title>
</head>

<body>
  <%= render "layouts/header" %>

  <% if current_user.avatar.present? %>
  <%= image_tag(current_user.avatar.variant(resize_to_fill: [50, 50]), class: "rounded-circle") %>
  <% else %>
  <img alt="image" class="rounded-circle" src="/assets/default_avatar_small.jpg">
  <% end %>
  
  <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>', '', {"timeOut": "8000",} );
    <% end %>
    </script>
  <% end %>
  
  
  <%= yield %>
  
  <%= render "layouts/footer" %>
</body>

</html>